<!DOCTYPE html>
<html >
<head>
	<title>Yet Another Clicker Game</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="theme.css"/>
 	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="utilities.js"></script>
	<script src="journalUtilities.js"></script>
	<script src="game.js"></script>
	<script src="monster.js"></script>
</head>
<body ng-app='HeroicAdventure'>
	<div ng-controller="CharacterCtrl as character" class='container'>
	
		<div id='stats'>
			<span>Name:</span> <input ng-model="character.hero.name" type="text" /><br />
			<span>Level:</span> {{character.hero.level}}<br />
			<span>Experience:</span> {{character.hero.experiencePoints}}<br />
			<br>	<span>Power:</span>	{{character.hero.power}}
			<br>	<span>Health:</span>	<span ng-class="{low:(character.hero.currentHealth/character.hero.maxHealth) < 0.25}"> {{character.hero.currentHealth|number:1}}/{{character.hero.maxHealth|number:1}}</span> (+{{character.hero.regen.health}})
			<br>	<span>Stamina:</span>	<span ng-class="{low:(character.hero.currentStamina/character.hero.maxStamina) < 0.25}"> {{character.hero.currentStamina|number:1}}/{{character.hero.maxStamina|number:1}}</span> (+{{character.hero.regen.stamina}})
			<div><span>Day:</span> {{character.day}}</div>
			<div ng-show="character.hero.gold > 0"><span>Gold:</span> {{character.hero.gold}}</div> <br />
		</div>
		<br>
		
		<div id="divAction" ng-controller="ActionCtrl as action">
			<div ng-controller="MonsterData as monster">
                
                Choose your attack type:
                <div ng-repeat="attack in character.hero.attackType">
                    <input type="radio" title="{{attack.flavText}}" ng-model="character.hero.selectedAttackID" ng-change="character.hero.selectAttack()" ng-value="attack.attackID"><b><span title="{{attack.flavText}}" ng-class="{attackIsSelected:character.hero.selectedAttackID === attack.attackID}">{{attack.attackName}}</b>: Cost {{attack.staminaUsage}} stamina. Deals {{attack.damageType}} damage.</span>
                </div><br>
                
                <div ng-repeat="mons in monster.monstah">
					<button class='monster btn btn-default' ng-disabled="character.hero.stamina <= 5" ng-click="action.battle(character.hero, mons)" ng-show="mons.levelReq<=character.hero.level">Fight {{mons.name}} [HP: {{mons.currentHealth|number:1}}/{{mons.maxHealth|number:1}}]</button>
				</div>
				
			</div>
		</div>

		<div id="divJournal"></div>
        
	</div>
</body>
</html>