div#menu {
	cursor: default;
}

div#menu a {
	text-decoration: none;
	margin-right: 8px;
}

#gameSection {
	float: left;
}

div#stats {
	float: left;
	width: 250px;
	height: 400px;
}

div#divJournal {
	clear:both;
}

.low{
	color: red;
}

.attackIsSelected{
   text-decoration: underline;
}

.Slash{
    color: red;
}

.Piercing{
    color: brown;
}

.Blunt{
    color: blue;
}

.Neutral{
    color: gray;
}

.Magic{
    color: purple;
}